[Unit]
Description=Gunicorn instance for Mixed Reality App
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/mx-app/backend
Environment="PATH=/home/ubuntu/mx-app/backend/venv/bin"
EnvironmentFile=/home/ubuntu/mx-app/.env
ExecStart=/home/ubuntu/mx-app/backend/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/mx-app/backend/mx>
Restart=always
[Install]
WantedBy=multi-user.target